<ul class="listWrapper">
	<li class="listTitle">
		Floor Seating
	</li>
	<li class="listItemWrap">
		<div>
			101 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			102 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			103 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			104 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			105 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
</ul>
<br />
<ul class="listWrapper">
	<li class="listTitle">
		Raised Seating
	</li>
	<li class="listItemWrap">
		<div>
			201 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			202 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			203 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			204 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			205 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			206 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			207 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			208 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			209 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			210 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			211 -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
</ul>
<br />
<ul class="listWrapper">
	<li class="listTitle">
		Misc Sections
	</li>
	<li class="listItemWrap">
		<div>
			Cafe -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			Mom's Room -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			Family Room -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
	<li class="listItemWrap">
		<div>
			Foyers -
			<input type="text" pattern="[0-9]*" />
			<div class="clear"></div>
		</div>
	</li>
</ul>